.bai2 {
    text-align: center;
    background-color: goldenrod;
    margin: 0px;
}

.bai3b {
    background-color: goldenrod;
}

.bai04 {
    background-color: goldenrod;
}

.yellow {
    background-color: yellow;
}

.cam {
    background-color: goldenrod;
}